h1 {
  font-family: "soleil", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.05em;
  letter-spacing: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (min-width: 1280px) {
    h1 {
      font-size: 4.5em; } }

p,
a {
  font-family: "soleil", sans-serif;
  line-height: 1.7em; }
  p.user-name,
  a.user-name {
    font-family: "soleil", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.24875em;
    letter-spacing: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #3b5998; }
    @media screen and (min-width: 1280px) {
      p.user-name,
      a.user-name {
        font-size: 1.3875em; } }

.date,
.description {
  font-weight: 400;
  font-style: normal;
  font-size: 0.7425em;
  letter-spacing: default;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media screen and (min-width: 1280px) {
    .date,
    .description {
      font-size: 0.825em; } }

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

body {
  overflow: visible;
  width: 100%;
  height: 1000px; }

a:hover,
a:active,
a:visited {
  cursor: pointer;
  text-decoration: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100; }
  header img, header .main_wrapper #like-animation, .main_wrapper header #like-animation {
    margin: 14px 0 0 10px;
    width: 140px;
    height: auto; }
  header button {
    position: fixed;
    right: 10px;
    margin: 14px 10px 0 0;
    font-family: "soleil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.675em;
    letter-spacing: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    background-color: transparent;
    opacity: .4;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }
    @media screen and (min-width: 1280px) {
      header button {
        font-size: 0.75em; } }
    header button:hover {
      cursor: pointer;
      opacity: 1; }

.main_wrapper {
  position: relative;
  margin: auto;
  width: 70%;
  height: 100%; }
  .main_wrapper img, .main_wrapper #like-animation {
    position: fixed;
    float: left;
    top: 50%;
    width: 40%;
    left: 50%;
    transform: translateY(-80%) translateX(-50%);
    min-width: 400px; }
    @media screen and (min-width: 1024px) {
      .main_wrapper img, .main_wrapper #like-animation {
        transform: translateY(-50%) translateX(35%);
        left: 0; } }
  .main_wrapper #like-animation {
    height: 400px;
    margin-top: 125px;
    font-family: inherit;
    font-size: 7em;
    background-color: transparent;
    text-align: center;
    z-index: 999; }
  .main_wrapper .content {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 50%;
    width: 25%;
    min-width: 320px;
    height: 250px;
    transform: translateX(50%); }
    @media screen and (min-width: 1024px) {
      .main_wrapper .content {
        float: right;
        top: 20%;
        right: 0;
        transform: translateX(-50%);
        min-width: 280px; } }
    @media screen and (min-width: 1280px) {
      .main_wrapper .content {
        min-width: 280px; } }
    .main_wrapper .content #like_wrapper {
      margin-bottom: 70px; }
      .main_wrapper .content #like_wrapper div {
        width: 100%;
        min-width: 300px;
        height: 15px;
        margin-bottom: 8px;
        background-color: #ffce14; }
      .main_wrapper .content #like_wrapper p {
        font-weight: 400;
        font-style: normal;
        font-size: 0.7425em;
        letter-spacing: default;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
        @media screen and (min-width: 1280px) {
          .main_wrapper .content #like_wrapper p {
            font-size: 0.825em; } }
    .main_wrapper .content .user-photo {
      display: inline-block;
      width: 70px;
      height: 70px;
      margin-top: -2px;
      margin-right: 10px;
      border-radius: 50%;
      border: solid white 2px;
      background-image: url(../img/sample2.png);
      background-size: cover;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      transition: 0.5s; }
      .main_wrapper .content .user-photo:hover {
        border: solid #ffce14 2px; }
    .main_wrapper .content .user-name {
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      transition: 0.5s; }
      .main_wrapper .content .user-name:hover {
        color: black; }
    .main_wrapper .content .date {
      display: inline-block;
      margin-bottom: 14px;
      color: #999999; }
    .main_wrapper .content .description {
      max-height: 600px;
      margin-bottom: 25px;
      overflow: auto; }

.login {
  top: 50%;
  transform: translateY(40%);
  width: 600px;
  margin: auto;
  text-align: center; }
  .login iframe {
    width: 560px;
    height: 315px;
    margin-bottom: 50px; }
  .login #login-button {
    background-color: white;
    color: black;
    padding: 15px 20px;
    font-family: "soleil", sans-serif;
    border: solid #ffce14 2px;
    font-weight: 400;
    font-style: normal;
    font-size: 1.0125em;
    letter-spacing: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s; }
    @media screen and (min-width: 1280px) {
      .login #login-button {
        font-size: 1.125em; } }
    .login #login-button:hover {
      cursor: pointer;
      color: black;
      border: solid black 2px; }

.errorpage {
  top: 50%;
  transform: translateY(40%);
  width: 600px;
  margin: auto;
  text-align: center; }
  .errorpage h1 {
    position: relative;
    max-width: 360px;
    margin: auto auto 15px auto;
    border-bottom: 16px solid #ffce14;
    font-family: "soleil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12.4875em;
    letter-spacing: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 5px; }
    @media screen and (min-width: 1280px) {
      .errorpage h1 {
        font-size: 13.875em; } }
  .errorpage h3 {
    margin-bottom: 10px;
    font-family: "soleil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.15em;
    letter-spacing: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 2px; }
    @media screen and (min-width: 1280px) {
      .errorpage h3 {
        font-size: 3.5em; } }
  .errorpage p {
    font-family: "soleil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2375em;
    letter-spacing: default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media screen and (min-width: 1280px) {
      .errorpage p {
        font-size: 1.375em; } }
