h1 {
  font-family: "soleil", sans-serif;
  font-weight: normal;
  font-size: 4.5em;
  letter-spacing: default;
  -webkit-font-smoothing: antialiased; }

p,
a {
  font-family: "soleil", sans-serif;
  line-height: 1.7em; }
  p.user-name,
  a.user-name {
    font-family: "soleil", sans-serif;
    font-weight: bold;
    font-size: 1.3875em;
    letter-spacing: default;
    -webkit-font-smoothing: antialiased;
    color: #3b5998; }

.date,
.description,
.see-more {
  font-weight: normal;
  font-size: 0.825em;
  letter-spacing: default;
  -webkit-font-smoothing: antialiased; }

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

a:hover,
a:active,
a:visited {
  cursor: pointer;
  text-decoration: none; }

header {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 100; }
  header img {
    margin: 10px 0 0 10px;
    width: 130px;
    height: auto; }

#fullpage .section .slide .main_wrapper {
  width: 70%;
  margin: auto;
  height: 100%;
  min-height: 100%;
  position: relative; }
  #fullpage .section .slide .main_wrapper .photo {
    position: relative;
    width: 60%;
    margin-right: 5%;
    margin-top: 10%;
    float: left;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    align-content: center; }
    #fullpage .section .slide .main_wrapper .photo img {
      -webkit-justify-content: center;
      justify-content: center;
      align-content: center;
      width: 100%; }
  #fullpage .section .slide .main_wrapper .content {
    width: 35%;
    float: left;
    display: inline-block; }
    #fullpage .section .slide .main_wrapper .content #like_wrapper {
      margin-bottom: 70px; }
      #fullpage .section .slide .main_wrapper .content #like_wrapper div {
        background-color: #ffce14;
        width: 100%;
        height: 15px;
        margin-bottom: 8px; }
      #fullpage .section .slide .main_wrapper .content #like_wrapper p {
        font-weight: normal;
        font-size: 0.825em;
        letter-spacing: default;
        -webkit-font-smoothing: antialiased; }
    #fullpage .section .slide .main_wrapper .content .user-photo {
      width: 70px;
      height: 70px;
      background-image: url(../img/sample2.png);
      background-size: cover;
      margin-right: 10px; }
    #fullpage .section .slide .main_wrapper .content .user-photo {
      border-radius: 50%; }
    #fullpage .section .slide .main_wrapper .content .user-photo,
    #fullpage .section .slide .main_wrapper .content .date {
      display: inline-block; }
    #fullpage .section .slide .main_wrapper .content .date {
      color: #999999;
      margin-bottom: 14px; }
    #fullpage .section .slide .main_wrapper .content .description {
      overflow: auto; }
    #fullpage .section .slide .main_wrapper .content .see-more {
      float: right;
      color: #3b5998;
      text-transform: capitalize;
      -webkit-transition: 0.5s;
      -moz-transition: 0.5s;
      -ms-transition: 0.5s;
      transition: 0.5s; }
      #fullpage .section .slide .main_wrapper .content .see-more:hover, #fullpage .section .slide .main_wrapper .content .see-more:active {
        text-decoration: underline;
        cursor: pointer; }
    #fullpage .section .slide .main_wrapper .content form input {
      width: 100%;
      height: auto;
      overflow: auto;
      color: black;
      font-family: "soleil", sans-serif; }
    #fullpage .section .slide .main_wrapper .content .comment_wrapper {
      background-color: #e9eaed;
      width: 30%;
      float: left;
      position: fixed;
      bottom: 0;
      height: 30px; }

.slideup {
  -webkit-animation-name: upup 1s; }

@-webkit-keyframes upup {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
