// Variables (Font)
$font-reg: "soleil", sans-serif;
$font-bold: "soleil", sans-serif;

// Variables (Color)
$c-yellow: #ffce14;
$c-grey: #e9eaed;
$c-dgrey:#999999;
$c-blue: #3b5998;


// Font   (px to em)
@mixin font-size($size, $weight){
	font-weight:$weight;
	font-size: ($size / 16) * .9em;
	letter-spacing: default;
	-webkit-font-smoothing:antialiased;

	@media screen and (min-width: 1280px){
	font-size: ($size / 16) * 1em;
	}
}
@mixin font-lnum{
   -moz-font-feature-settings: "lnum";
   -webkit-font-feature-settings: "lnum";
   font-feature-settings: "lnum";
}

h1{
	font-family: $font-reg;
	@include font-size(72, normal);
}
p,
a{
	font-family:$font-reg;
	line-height: 1.7em;

	&.user-name{
	font-family: $font-bold;
	@include font-size(22.2, bold);
	color: $c-blue;
	}
}

.date,
.description,
.see-more{
	@include font-size(13.2, normal);
}

// Mixin
@mixin transition($duration) {
  -webkit-transition: $duration;
 	 -moz-transition: $duration;
	  -ms-transition: $duration;
 		  transition: $duration;
}

@mixin flexbox($direction){
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction:$direction;
			flex-direction:$direction;
}
@mixin flexbox-justify($direction){
	-webkit-justify-content:$direction;
			justify-content:$direction;
}
@mixin flexbox-align($direction){
	    align-content:$direction;
}
// Mixin (Effects)
@mixin underline{
	text-decoration: underline;
	cursor: pointer;
}

// debug
@mixin debug{
	// background-color: rgba(2,86,156,0.1);
}

// Main
*{
	margin: 0;
	padding: 0;
	border:none;
	outline: none;
}

a:hover,
a:active,
a:visited{
	cursor: pointer;
	text-decoration: none;
}

header{
	@include debug;
	position: fixed;
	width: 100%;
	height:100px;
	top: 0;
	left: 0;
	z-index: 100;

		img{
			margin:14px 0 0 10px;
			width: 140px;
			height: auto;
		}
}

			.main_wrapper{
				width: 70%;
				margin: auto;
				height: 100%;
				min-height: 100%;
				position: relative;

				@media screen and (min-width: 1280px){
					width: 65%;
				}

				img{
					position: fixed;
					top: 50%;
					width: 40%;
					transform: translateY(-50%);
					min-width: 400px;
					margin-right: 5%;

					@media screen and (min-width: 1280px){
					width: 40%;
					}	
				}
				.content{
					float: right;
					width: 25%;
					min-width: 280px;
					display: inline-block;
					margin-top: 18%;

					#like_wrapper{
						margin-bottom: 70px;
						div{
						background-color: $c-yellow;
						width: 100%;
						height: 15px;
						margin-bottom: 8px;
						min-width: 300px;
						}
						p{
							@include font-size(13.2, normal);
						}
					}
					.user-photo{
						width: 70px;
						height:70px;
						background-image:url(../img/sample2.png);
						background-size: cover;
						margin-right: 10px;
					}
					.user-photo{
						display: inline-block;
						border-radius: 50%;
					}
					.date{
						display: inline-block;
						color:$c-dgrey;
						margin-bottom: 14px;
					}
					.description{
						overflow: auto;
						margin-bottom: 25px;
					}
					.comment{
						background-color: gray;
						opacity: .1;
						height: 280px;
						width: 100%;
					}
				}
			}


// Jquery & Animation
.slideup{
	opacity: 0;
	@include transition(1s);
}


//404
.errorpage{
	text-align: center;
	h1{
	font-family: $font-reg;
	@include font-size(222, normal);
	letter-spacing: 5px;
	border-bottom: 4px solid $c-yellow;
	}

	h3{
		font-family: $font-reg;
		@include font-size(56, normal);
		letter-spacing: 2px;
		margin-bottom: 10px;
	}
	p{
		font-family: $font-reg;
		@include font-size(22, normal);
	}
}