<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smile to Like</title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Font Import-->
	<script src="https://use.typekit.net/tyt7upf.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<!-- CSS-->
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />

	<!-- JQUERY / Fullpage -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<header>
		<img src="../static/img/logo.svg"/>
	</header>
	<div class="main_wrapper">
		<div id="my_camera" style="display: none;"></div>
		<div id="like-animation">&#128526</div>
			<img src="{{ photos[0] }}"/>
			<div class="content">
			<a class="user-photo" href="{{ prof_photos[0] }}"></a>
			<p class="date"></p>
			<a class="user-name">{{ usernames[0] }}</a>
			<p class="description">{{ descriptions[0] }}</p>
			<div id="like_wrapper">
				<div></div>
				<p class="like-description">{{ num_likes[0] }}</p>
			</div>
		</div>
		<script type="text/javascript" src="../static/js/webcam.js"></script>
        <script type="text/javascript" src="../static/js/camera_controller.js"></script>
		<script type="text/javascript">
			(function call_post () {
				setTimeout(function () {
					setTimeout(function () {
						var id = ({{ mediaIds[0] }}).toString();
						take_snapshot(id);
					}, 3000);
					// $.ajax({
					// 	url: "{{ url_for('get_test') }}",
					// 	contentType: 'application/json',
					// 	success: function success (sentiment) {
					// 		console.log("sentiment: "+sentiment);
					// 		// if (sentiment == 'LIKE') {
					// 		// 	console.log("sentiment: "+sentiment);
					// 		// 	// $("#like-animation").animate({opacity:"1"}, 300).animate({opacity:"0"},300);
					// 		// } else {

					// 		// }
					// 	}
					// });
				}, 10000);
			})();
		</script>
	</div>

	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$( window ).scroll(function() {
  			$( "img" ).animate({top: "-2000px", opacity: "0"}, 1200);
		});
		$("#like-animation").css({opacity: "0"});
		$("#logo").click(function(){
			$("#like-animation").animate({opacity:"1"}, 300).animate({opacity:"0"},300);
		});
		// $(".photo").click(function(){
		// 	$(".photo::after").css({opacity:1});
		// });
	});
</script>
</body>
</html>