<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smile to Like</title>
	<meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

 	<!-- Font Import-->
    <script src="https://use.typekit.net/tyt7upf.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>

	<!-- CSS-->
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />

	<!-- JQUERY / Fullpage -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<header>
		<img src="../static/img/logo.svg"/>
	</header>
		    	<div class="main_wrapper">
					<img src="../static/img/sample2.png"/>
					<div class="content">
						<a class="user-photo" href=""></a>
						<p class="date"></p>
						<a class="user-name"></a>
						<p class="description"></p>
						<div id="like_wrapper">
							<div></div>
							<p class="like-description"></p>
						</div>
					</div>
				</div>

	<script type="text/javascript" src="../static/js/main.js"></script>
	<script type="text/javascript">
	// $(document).ready(function(){
	// 	$( window ).scroll(function() {
 //  			$( "img" ).addClass( "slideup" );
	// 	});
	// });
	</script>
</body>
</html>