<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smile to Like</title>
	<meta name="viewport" content="width=device-width">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Font & Favicon-->
    <script src="https://use.typekit.net/tyt7upf.js"></script>
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
	<link rel="icon" type="image/png" href="../static/img/favicon.png">

	<!-- CSS-->
	<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
</head>
<body>
	<header>
		<img id="logo" src="../static/img/logo.svg"/>
	</header>
	<div class="login">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/4Zor8307xi8" frameborder="0" allowfullscreen></iframe>
		<a id="login-button" href="index.html">Log in as Angela</a>
	</div>
</body>
</html>