<!DOCTYPE html>
<html>
	<head>
		<title>Smile to Like</title>
	</head>
	<body>
    	<div id="my_camera" style="width:320px; height:240px;"></div>
        <div id="my_result"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/webcam.js"></script>
        <script type="text/javascript" src="../static/js/camera_controller.js"></script>

        <script language="Javascript">
        </script>

        <script language="JavaScript">
            
        </script>

        <form>
            <input type="button" value="Take Snapshot" onclick="take_snapshot()">
        </form>
	</body>
</html>