<!DOCTYPE html>
<html>
	<head>
		<title>Smile to Like</title>
	</head>
	<body>
    	<div id="my_camera" style="width:320px; height:240px;"></div>
        <div id="my_result"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/webcam.js"></script>

        <script language="Javascript">
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach( '#my_camera' );
        </script>

        <script language="JavaScript">
            function take_snapshot() {
                // take snapshot and get image data
                Webcam.snap( function(data_uri) {
                    // display results in page
                    document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
                    process_photo(data_uri);
                });
            }

            function process_photo(data_uri){
                $.ajax({
                    url: "{{ url_for('get_test') }}",
                    contentType: 'application/json',
                    data: data_uri,
                    success: function (){
                        on_processed();
                    }
                });
            }

            function on_processed(){

            }
        </script>

        <form>
            <input type="button" value="Take Snapshot" onclick="take_snapshot()">
        </form>
	</body>
</html>